# ----- InfluxDB 2.x -----
INFLUX_USERNAME=admin
INFLUX_PASSWORD=admin123
INFLUX_ORG=SCCC
INFLUX_BUCKET=telegraf
INFLUX_TOKEN=change-me-please

# ----- Grafana -----
GRAFANA_ADMIN_USER=admin
GRAFANA_ADMIN_PASSWORD=admin123
GRAFANA_DOMAIN=grafana.example.com
